.c-articles {
  padding: 50px 0 30px;
  background: $dark-blue;
  @media (max-width: 959px) {
    padding: 50px 0 35px;
  }
  h2 {
    margin-bottom: 50px;
    @media (max-width: 959px) {
      text-align: center;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border: 1px solid lighten($dark-grey, 5%);
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: 959px) {
      max-width: 768px;
      margin-bottom: 35px;
    }
  }
  &__card-header {
    background: $card-grey;
    padding: 15px;
    border-bottom: 1px solid $dark-grey;
    h3 {
      margin: 0;
      font-size: 1.5rem;
    }
  }
  &__card-footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: $card-grey;
    color: $brand;
    padding: 15px;
    border-top: 1px solid $dark-grey;
  }
  &__card-excerpt {
    flex: 1 1 auto;
    color: $grey;
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;
      white-space: normal;
      hyphens: auto;
    }
  }
  &__card-link {
    margin-top: auto;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $brand;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    &:hover {
      border: 1px solid $brand-lighter;
      color: $brand-lighter;
    }
    a {
      text-align: center;
    }
  }
}