.c-articles {
  padding: 50px 0 70px;
  h2 {
    margin-bottom: 50px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__card-header {
    background: $black;
    padding: 20px;
    h3 {
      margin: 0;
      font-size: 1.5rem;
    }
  }
  &__card-footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: $black;
    color: $brand;
    padding: 20px;
  }
  &__card-excerpt {
    flex: 1 1 auto;
    color: $grey;
  }
  &__card-link {
    margin-top: auto;
  }
}