$brand: #BE79A7;
$card-grey: #20232a;
$dark-blue: #15171c;
$brand-darker: darken($brand, 25%);
$brand-lighter: lighten($brand, 5%);

$primary-colour:  #0275d8;
$primary-colour-dim: darken( $primary-colour, 25%);

$secondary-colour: #6c757d;
$danger-colour: #d9534f;
$warning-colour: #f0ad4e;
$success-colour: #5cb85c;
$info-colour: #5bc0de;

$white: #fffffe;
$light-grey: #f2f2f2;
$grey: #a7a9be;
$medium-grey: #383838;
$dark-grey: #252525;
$dark-grey-lighter: lighten($dark-grey, 15%);
$black: #000000;