$brand: #BE79A7;
// $dark-blue: #151727;
$dark-blue: #010626;
$dark-blue-portfolio: #121212;
$dark-blue-lighter: lighten($dark-blue, 3%);
$brand-darker: darken($brand, 15%);
$brand-lighter: lighten($brand, 5%);

$brand-cream: #ffebcd;

$primary-colour: #F04E44;
$primary-colour-dim: darken(#F04E44, 25%);

$secondary-colour: #6c757d;
$danger-colour: #f03;
$warning-colour: #ffc107;
$success-colour: #28a745;
$info-colour: #17a2b8;

$white: #fffffe;
$light-grey: #f2f2f2;
$grey: #a7a9be;
$medium-grey: #383838;
$dark-grey: #252525;
$dark-grey-lighter: lighten($dark-grey, 15%);
// $black:#181818;
$black: #100c08;

// $test: #1E1E1F;
$test: #1f1b24;
