$header-font-family: $header-font-family !default;
$header-font-weight: $header-weight-normal !default;
$header-font-style: normal !default;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace !default;
$font-family-serif: "serif" !default;
$header-color: $brand !default;
$header-lineheight: 1.2 !default;
$header-margin-bottom: 1.25rem !default;
$small-font-size: 80% !default;

$header-small-font-color: #333333 !default;
$paragraph-lineheight: 1.5 !default;
$paragraph-margin-bottom: 1rem !default;

$header-styles: (
  xsmall: (
    "h1": (
      "font-size": 34,
    ),
    "h2": (
      "font-size": 32,
    ),
    "h3": (
      "font-size": 24,
    ),
    "h4": (
      "font-size": 22,
    ),
    "h5": (
      "font-size": 20,
    ),
    "h6": (
      "font-size": 16,
    ),
  ),
  small: (
    "h1": (
      "font-size": 36,
    ),
    "h2": (
      "font-size": 35,
    ),
    "h3": (
      "font-size": 28,
    ),
    "h4": (
      "font-size": 25,
    ),
    "h5": (
      "font-size": 20,
    ),
    "h6": (
      "font-size": 18,
    ),
  ),
  large: (
    "h1": (
      "font-size": 40,
    ),
    "h2": (
      "font-size": 38,
    ),
    "h3": (
      "font-size": 32,
    ),
    "h4": (
      "font-size": 23,
    ),
    "h5": (
      "font-size": 20,
    ),
    "h6": (
      "font-size": 18,
    ),
  ),
) !default;

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
       url('../fonts/lato-v17-latin-300.woff2') format('woff2'),
       url('../fonts/lato-v17-latin-300.woff') format('woff');
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v17-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/raleway-v18-latin-500.woff2') format('woff2'),
       url('../fonts/raleway-v18-latin-500.woff') format('woff');
}

@mixin font-light() {
  font-family: "Lato Light", sans-serif;
  font-weight: 300 !important;
}

@mixin font-body() {
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
}

@mixin font-bold() {
  font-family: "Raleway", sans-serif;
  font-weight: 500 !important;
}